<!DOCTYPE html>
<footer class="footer">
	<div class="bottom-slider-top-bar"></div>
  	<div class="bottom-slider-wrapper">
  		<div class="container">
	  		<small>    
	    		Copyright 2013 <a href="http://twitter.com/teamtwitchly">Twitchly</a>
	     
			</small>
		  	<nav>
		    	<ul>	      
		      		<li><a href="mailto:support@twitchly.com">Contact</a></li>	     	     
		    	</ul>
		  	</nav>
	  	</div>
  	</div>
</footer>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{% if not settings.DEBUG %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32112200-1']);
  _gaq.push(['_setDomainName', 'twitchly.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}