html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
}

.tight {
	padding-top: 40px;
}

.wrap {
   min-height: 100%;  
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #333333;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


.main-header {
   background-image:url('images/blue_corner.jpg');
   background-position:center top 0px; 
   height: 415px;
}

.main-header .slogan {
    text-align:left;
    padding-top: 50px;  
}
   
.main-header h1 {
    text-align:left;
    font-size: 42px;
    color: #fefefe;    
}
   
.main-header .btn-large {
    font-size:24px;
    padding:12px 18px
}

.header-bottom-bar {
  background-color: #333333;
  box-shadow: 0 1px 6px -1px #222222;
  height: 6px;
  position: relative;
  z-index: 10;
}

.navbar-inner {
  background-color: #2c2c2c; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  border-color: #252525;
}

.navbar {
	color: #999999;
}

.navbar .nav li a {
	color: #999999;
	padding: 10px 10px 11px;
	line-height: 19px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	
}

.navbar .nav li a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: transparent;
	
}
   
.bottom-slider-top-bar {
  background-color: #555555;
  box-shadow: 0 1px 6px -1px #222222;
  height: 7px;
  position: relative;
  z-index: 10;
}

.bottom-slider-wrapper{
  color: #ffffff;
  background-color: #222222;
  padding-top: 42px;
  padding-bottom: 10px;
}

footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;

  color: #999999;
}
  
footer  a {
    color: #555555;
}

footer a:hover {
      color: #FFFFFF;
      text-decoration: none;
	  background-color: transparent;
}

  
footer small {
    float: left;
    font-size: 100%
}
  
footer ul {
    float: right;
    list-style: none;
}
 
footer ul li {
      float: left;
      margin-left: 10px;
}

  
.bottom-slider-wrapper{
    height: 100px;
}

.main-content {  
  padding-top: 20px;
  color: #000000;
  
  overflow:auto;
  padding-bottom: 75px;
}

.main-content h1 {
    font-size: 60px;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: 200;
    text-align: center;
}

.main-content h2 {
    font-size: 32px;
    color: #333333;
}
  
.main-content h3 {
    font-size: 22px;
    color: #555555;
}
   
.main-content .feature-icon {
    width: 100px;
}
  
.main-content .btn-large {
    font-size:24px;
    padding:12px 18px;
}
  
.main-content .btn-medium {
    font-size:16px;
    padding:6px 9px;
}

.gray-background {
  background: #FAF7F7;
  
}

.box {
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  padding: 15px 15px 0;  
  padding-bottom: 10px;
  
  border: 1px solid #DDDDDD;
}

.box input, .box textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.box input[type="submit"] {
  width:auto;
  height:auto;
}

.box select {
  border: 1px solid #bbb;
  width: 100%;
  padding: 9px;
  height: auto;
  margin-bottom: 15px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.recommendations {  
  padding-top: 10px;
}

.recommendations  h3 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    letter-spacing: 0px;
    color: #333333;
}

.single-box-in-page {
 
  padding-top:100px;  
}

.home-introduction { 
  float:left; 
}

.home-introduction h1 {
    text-align: left;
    font-size: 28px;
    margin-bottom: 14px;
    margin-top: 5px;
}
  
.home-introduction h2 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 0px;
    letter-spacing: 0px;
}

.circle {
  height: 275px;
  padding-left: 10px;
  padding-right: 10px;
  display: table !important;
  box-shadow: 1px 1px 1px rgba(34, 25, 25, 0.4);
}

.circle .title {
    margin-bottom: 10px;
    line-spacing: 0;
    font-size: 14px;
    text-align: center;
}

.circle .avatar {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}    
  
.circle .bottom-row {
    display: table-row;
    height: 25px;
}


/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}